{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- Notifications -->
                    <!-- Switches -->
                    <div class="card" style="font-size: 20px;">
                        <h5 class="card-header">Xarakatlar</h5>
                        <div class="card-body">
                            <form action="">
                                {% csrf_token %}
                                {% for title in station.titles.all %}
                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" name="{{ title.id }}"/>
                                        <label class="form-check-label" for="">
                                            - {{ title.title }}
                                        </label>
                                    </div>
                                {% endfor %}

                                <div class="form-floating col-md-6">
                                    <input type="text" class="" value="{{ student }}" name="student" disabled/>
                                </div>


                                <div class="col-md-10">
                                    <button type="submit" class="btn btn-primary">Yakunlash</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}