{% extends 'base.html' %}

{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- Notifications -->
                    <!-- Switches -->
                    <div class="card" style="font-size: 20px;">
                        <h5 class="card-header">Xarakatlar</h5>
                        <div class="card-body">
                            <form action="{% url 'main:check' %}" method="post">
                                {% csrf_token %}
                                <div class="col-md-4">
                                    <label class="form-label" for="selectTypeOpt">Talaba</label>
                                    <select id="selectTypeOpt" class="form-select color-dropdown" name="student">
                                        <option value="{{ student.id }}">{{ student.full_name }}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="selectPlacement">Stansiya turi</label>
                                    <select class="form-select placement-dropdown" id="selectPlacement" name="station">
                                        <option value="{{ station.id }}">{{ station.name }}</option>
                                    </select>
                                </div>

                                {% for title in station.titles.all %}
                                    <div class="form-check form-switch mb-2">
                                        <label>
                                            <input class="form-check-input" type="checkbox" name="{{ title.id }}"/>
                                        </label>
                                        <label class="form-check-label" for="">
                                            - {{ title.title }}
                                        </label>
                                    </div>
                                {% endfor %}

                                <br>
                                <br>
                                <label>
                                    <input type="text" class="form-control" value="{{ student.id }}" name="student"
                                           placeholder="{{ student.full_name }}"/>
                                </label>

                                <br>
                                <br>

                                <div class="col-md-10">
                                    <button type="submit" class="btn btn-primary">Yakunlash</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
