{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4">
                <span class="text-muted fw-light">
                    {{ student.full_name }} /
                </span>
                ma'lumotlari
            </h4>
            <div class="row">
                <div class="col-lg-8 mb-4 order-0">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">
                                        Congratulations John! 🎉
                                    </h5>
                                    <p class="mb-4">
                                        You have done 
                                        <span class="fw-bold">
                                            72%
                                        </span> 
                                        more sales today. Check your new badge in your profile.
                                    </p>
                                    <a href="" class="btn btn-sm btn-outline-primary">
                                        View Badges
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center text-sm-left">
                                <div class="card-body pb-0 px-0 px-md-4">
                                    <img src="{% static 'img/illustrations/man-with-laptop-light.png' %}" height="140" alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png" data-app-light-img="illustrations/man-with-laptop-light.png"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 order-1">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <img src="{% static 'img/icons/unicons/chart-success.png' %}" alt="chart success" class="rounded"/>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    View More
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="fw-semibold d-block mb-1">
                                        Profit
                                    </span>
                                    <h3 class="card-title mb-2">
                                        $12,628
                                    </h3>
                                    <small class="text-success fw-semibold">
                                        <i class="bx bx-up-arrow-alt"></i>
                                        +72.80%
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <img src="{% static 'img/icons/unicons/wallet-info.png' %}" alt="Credit Card" class="rounded"/>
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    iew More
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0);">
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <span>
                                        Sales
                                    </span>
                                    <h3 class="card-title text-nowrap mb-1">
                                        $4,679
                                    </h3>
                                    <small class="text-success fw-semibold">
                                        <i class="bx bx-up-arrow-alt"></i>
                                        +28.42%
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <h5 class="card-header">
                    Bootstrap Toasts Example With Placement
                </h5>
                <div class="card-body">
                    <div class="row gx-3 gy-2 align-items-center">
                        <div class="col-md-3">
                            <label class="form-label" for="selectTypeOpt">Type</label>
                            <select id="selectTypeOpt" class="form-select color-dropdown">
                                <option value="bg-primary" selected>Primary</option>
                                <option value="bg-secondary">Secondary</option>
                                <option value="bg-success">Success</option>
                                <option value="bg-danger">Danger</option>
                                <option value="bg-warning">Warning</option>
                                <option value="bg-info">Info</option>
                                <option value="bg-dark">Dark</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="selectPlacement">Placement</label>
                            <select class="form-select placement-dropdown" id="selectPlacement">
                                <option value="top-0 start-0">Top left</option>
                                <option value="top-0 start-50 translate-middle-x">Top center</option>
                                <option value="top-0 end-0">Top right</option>
                                <option value="top-50 start-0 translate-middle-y">Middle left</option>
                                <option value="top-50 start-50 translate-middle">Middle center</option>
                                <option value="top-50 end-0 translate-middle-y">Middle right</option>
                                <option value="bottom-0 start-0">Bottom left</option>
                                <option value="bottom-0 start-50 translate-middle-x">Bottom center</option>
                                <option value="bottom-0 end-0">Bottom right</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label" for="showToastPlacement">&nbsp;</label>
                            <button id="showToastPlacement" class="btn btn-primary d-block">Show Toast</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Bootstrap Toasts with Placement -->
        </div>
    </div>

{% endblock %}


